
body{
  margin: 0;
  padding: 0;
}

.homescreen {
  background-image: url('nature.jpeg'); 
  background-repeat: no-repeat;
  height: 972px;
}
@font-face {
  font-family: 'MyFont';
  src: url('./font.ttf') format('truetype');
}
.header1 {
  position: absolute;
  margin-left: 21%;
  margin-top: 20%;
  font-size: 150px;
  font-family: 'MyFont';
  color: white;
  
}
.border1 {
  position: fixed;
  height: 1000px;
  width: 60px;
  background-color: black;
}
.border2 {
  position: fixed;
  height: 1000px;
  width: 60px;
  right: 0px;
  background-color: black;
}
.lines-container {
  height: 8150px;
  width: 5px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.line {
  height: 100%;
  background-color: black;
  box-shadow: 0 0 0 0.1px black;
  margin-right: 210px
}

.blob {
  position: absolute;
  margin-top: 30px;
  margin-left: 50%;
  width: 700px;
  filter: blur(10px);
  transform: translateX(-50%);
}

.blobglow {
  filter: blur(50px);
}


.bird-container {
  position: relative;
}
.bird {
  position: absolute;
  transform: translateY(-50%); 
  width: 70px;
  height: 70px;
}
.bird1 {
  margin-top: 100px;
  animation: fly 8.6s linear infinite; 
}
.bird2 {
  margin-top: 200px;
  animation: fly 10.6s linear infinite; 
}
.bird3 {
  margin-top: 300px;
  animation: fly 12.6s linear infinite; 
}

@keyframes fly {
  0% {
    left: -50px; 
  }
  100% {
    left: 100%; 
  }
}

.left{
  width: 50%;
  float: left;
  position: relative;
}
.right{
  width: 50%;
  float: left;
  position: relative;
}
.languages,.program,.contactme{
  background: #fdfff5;
}

@media(max-width: 767px)
{
  .homescreen{
    height: 400px;
  }
  .header1{
    font-size: 36px;
  }
  .border1{
    width: 0;
  }
  .school-text {
    margin-left: 0px!important;
    position: absolute;
    padding: 15px;
  }
  .box1 {
    position: relative!important;
    width: 100%!important;
    height: 100%!important;
    margin-top: 0px!important;
    background-color: white;
    color: black;
    font-size: 21px!important;
    padding: 15px;
    box-sizing: border-box;
    z-index: 999;
    margin-bottom: 40px!important;
  }
  .school{
    height: 100%!important;
    width: 100%!important;
    position: relative!important;
    padding-top: 30px!important;
  }
  .schoolheader2 {
    margin-left: 0!important;
    margin-bottom: 0!important;
  }
  .schoolheader{
    margin-top: 0!important;
    position: relative!important;
    z-index: 9999;
    margin-bottom: 0!important;
  }
  .box2{
    margin-left: 0!important;
    position: relative!important;
    width: 100%!important;
    height: 100%!important;
    padding: 15px;
    box-sizing: border-box;
    font-size: 21px!important;
    margin-top: 0!important;
    margin-bottom: 40px!important;
  }
  .blob {
    position: absolute;
    margin-top: 30px;
    margin-left: 0 !important;
    width: 188px !important;
    filter: blur(10px);
    left: 50%;
  }
  .aboutme-text {
    width: 100%!important;
    background: #fdfff5;
    min-height: 1006px;
    margin-top: -100px;
    height: 100%!important;
  }
  .hobbies {
    display: block!important;
    width: 100%!important;
    height: 100%!important;
    margin-left: 50px;
  }
  .left{
    width: 100%!important;
    display: block;
  }
  .right{
    width: 100%!important;
    display: block;
  }
  .hobbies-text{
    margin-top: 0!important;
  }
  .skills{
    font-size: 21px!important;
  }
  .languages-text {
    width: 100%!important;
    height: 100%!important;
  }
  .languages-box {
    width: 100%!important;
    height: 100%!important;
  }
  .square{
    height: 100%!important;
    width: 100%!important;
    box-sizing: border-box;
  }
  .program-text {
    width: 100%!important;
    height: 100%!important;
    margin-top: 0!important;
  }
  .card-container {
    margin-top: 50px;
    display: block!important;
    margin-left: 0!important;
    width: 100%!important;
    height: 100%!important;
    padding-top: 50px;
    margin-top: -12px!important;
  }
  .card{
    margin-right: auto!important;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  form{
    width: 100%!important;
    margin-left: 0!important;
    box-sizing: border-box;
  }
  .contactme-text{
    width: 100%!important;
  }
  .border2 {
    height: auto!important;
  }
  .squarebox{
    margin-top: -115px;
  }
}