.contactme-text {
  width: 1650px;
  height: 350px;
  margin-top: -10px;
  background: #fdfff5;
}
@font-face {
  font-family: 'MyFont2';
  src: url('./font4.ttf') format('truetype');
}

.curved4 {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'MyFont2';
  font-size: 40px;
}

.curved4.upper4 {
  background: #fdfff5;
  background-position: 50% -60px;
  margin-bottom: -62px;
}

form {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin-left: 380px;
}
link {
  font-size: 200px
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
}

button[type="submit"] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button[type="submit"]:hover {
  background-color: green;
}


.links {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.links a {
  margin-left: 50px;
}

.thankyou {
  text-align: center;
  font-size: 50px;
}