.languages-text {
  width: 1650px;
  height: 1500px;
  margin-top: -80px;
  background: #fdfff5;
}

.curved2 {
  background-color: black;
  color: white;
  text-align: center;
  
}

.curved2.upper2 {
  background: #fdfff5;
  background-position: 50% -60px;
  margin-bottom: -58px;
}

.languages-box {
  background-color: black;
  border-radius: 400px;
  height: 700px;
  width: 1650px;
}

.circlebox {
  margin-top: 140px;
  margin-left: 95px;
  height: 200px;
  width: 1260px;
}
.circlebox img {
  width: 210px;
  height: 210px;
}

.circle {
  position: absolute;
  border-radius: 100px;
  width: 210px;
  height: 210px;
}
.circle1 {
  margin-left: 210px;
}
.circle2 {
  margin-left: 630px;
}
.circle3 {
  margin-left: 1050px;
}

.squarebox {
  margin-top: 20px;
  width: 1250px;
  height: 400px;
  background-color: black;
  margin-left: 203px;
  font-size: 20px;
  line-height: 1.2;
}
.square {
  position: absolute;
  width: 418px;
  height: 400px;
  background-color: white;
  border: 1px black;
}
.square2 {
  margin-left: 420px;
}
.square3 {
  margin-left: 840px;
}